<% content_for :head do %>
  <script src="/WebResource.axd?d=g0PDadwG1hvf1T4HdjS4HQ2&amp;t=634322736143515931" type="text/javascript"></script>
  <script src="/WebResource.axd?d=QOA2ZdcVq8lTDIuy01UyWkbDSsAkHRUspurBSJxUW5s1&amp;t=634322736143515931" type="text/javascript"></script>
  <script type="text/javascript">
    //<![CDATA[
    function WebForm_OnSubmit() {
      if (typeof(ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) return false;
      return true;
    }
    //]]>
  </script>
<% end %>

<h1>Contact Us</h1>
<div class="contactInfo">
  <p class="introPara">Feel free to get in touch</p>
  <p>We're happy to talk with you about how we may be able to help you wrestle with the wicked problems in your organisation or community.</p>
</div>
<div class="googleMap">
	<%= image_tag "contactUs/googleMap.jpg", :size => "360x360", :alt=> ""  %>
	<!--<iframe width="361" height="359" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.au/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=821+Pacific+Highway+Chatswood+NSW+Australia+2067&amp;sll=-33.800005,151.20674&amp;sspn=0.00904,0.022724&amp;g=second+road++chatswood&amp;ie=UTF8&amp;hq=&amp;hnear=821+Pacific+Hwy,+Chatswood+New+South+Wales+2067&amp;ll=-33.790633,151.178656&amp;spn=0.025608,0.030899&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>-->
</div>

<fieldset class="contactForm">
  <div id="ContentPlaceHolderDefault_BodyContent_contactform_2_pnlF">
	<input name="ctl00$ctl00$ctl00$ContentPlaceHolderDefault$BodyContent$contactform_2$FirstName" type="text" 
	   value="First Name" id="ContentPlaceHolderDefault_BodyContent_contactform_2_FirstName" class="firstName" /><br/>
    <span id="ContentPlaceHolderDefault_BodyContent_contactform_2_rfv3" style="display:none;">Please enter a first name</span><br />
    <input name="ctl00$ctl00$ctl00$ContentPlaceHolderDefault$BodyContent$contactform_2$LastName" type="text"
      value="Last Name" id="ContentPlaceHolderDefault_BodyContent_contactform_2_LastName" class="lastName" /><br/>
    <span id="ContentPlaceHolderDefault_BodyContent_contactform_2_rfv4" style="display:none;">Please enter a last name</span><br />
    <input name="ctl00$ctl00$ctl00$ContentPlaceHolderDefault$BodyContent$contactform_2$Email" type="text" 
      value="Email" id="ContentPlaceHolderDefault_BodyContent_contactform_2_Email" class="email" /><br/>
    <span id="ContentPlaceHolderDefault_BodyContent_contactform_2_rfv1" InitialValue="Email" style="display:none;">Email Address Incorrect Format</span><br />
    <input name="ctl00$ctl00$ctl00$ContentPlaceHolderDefault$BodyContent$contactform_2$Company" type="text" 
      value="Company" id="ContentPlaceHolderDefault_BodyContent_contactform_2_Company" class="company" /><br/>
    <span id="ContentPlaceHolderDefault_BodyContent_contactform_2_rfv5" style="display:none;">Please enter a company name</span><br />
    <input name="ctl00$ctl00$ctl00$ContentPlaceHolderDefault$BodyContent$contactform_2$Phone" type="text" 
      value="Phone" id="ContentPlaceHolderDefault_BodyContent_contactform_2_Phone" class="phone" /><br/>
    <span id="ContentPlaceHolderDefault_BodyContent_contactform_2_rfv6" style="display:none;">Please enter a phone number</span><br />
    <select name="ctl00$ctl00$ctl00$ContentPlaceHolderDefault$BodyContent$contactform_2$enquirySelect" id="ContentPlaceHolderDefault_BodyContent_contactform_2_enquirySelect" class="enquirySelect">
	  <option value="">Type of Enquiry</option>
	  <option value="I&#39;m interested in working at Second Road">I&#39;m interested in working at Second Road</option>
	  <option value="I wonder if you can help...">I wonder if you can help...</option>
	  <option value="Umm...neither of those...">Umm...neither of those...</option>
	</select><br/>
    <span id="ContentPlaceHolderDefault_BodyContent_contactform_2_rfv7" style="display:none;">Please enter an enquiry type</span><br />
    <textarea name="ctl00$ctl00$ctl00$ContentPlaceHolderDefault$BodyContent$contactform_2$Message" rows="2" cols="20" 
      id="ContentPlaceHolderDefault_BodyContent_contactform_2_Message" class="message">Enquiry</textarea><br/>
    <span id="ContentPlaceHolderDefault_BodyContent_contactform_2_rfv2" style="display:none;">Please enter a message</span><br />
    <label><input id="ContentPlaceHolderDefault_BodyContent_contactform_2_chOptin" type="checkbox" 
	  name="ctl00$ctl00$ctl00$ContentPlaceHolderDefault$BodyContent$contactform_2$chOptin" />Receive our updates. Please read our <a href="/privacy/">Privacy Policy</a></label>
    <input type="submit" name="ctl00$ctl00$ctl00$ContentPlaceHolderDefault$BodyContent$contactform_2$btnSearch" value="Submit" 
      onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ctl00$ctl00$ContentPlaceHolderDefault$BodyContent$contactform_2$btnSearch&quot;, &quot;&quot;, true, &quot;contact&quot;, &quot;&quot;, false, false))" id="ContentPlaceHolderDefault_BodyContent_contactform_2_btnSearch" class="contactSubmit" />
  </div>
</fieldset>
<div class="promoBoxes">
  <div class="whiteBox">
	<h3>FIND US</h3>
	<p>Level 9</p>
    <p>Zenith Tower B</p>
    <p>821 Pacific Highway</p>
    <p>Chatswood NSW</p>
    <p>Australia 2067</p>
  </div>
  <div class="greyBox">
    <h3>TALK TO US</h3>
    <p>Phone: 02 9016 1400</p>
    <p>Fax:&nbsp;&nbsp;&nbsp;&nbsp; 02 8088 6127</p>
  </div>
  <div class="greyBox">
    <h3>JOIN US</h3>
    <p>Want to work with us? Contact us on <ahref="mailto:jobs@secondroad.com.au">jobs@secondroad.com.au</a></p>
  </div>
</div>
<div class="diagShape"></div>

