<% content_for :head do %>


<script type="text/javascript" >    $(function () {

        var wrapperWidth = parseInt($('#content').width()) + parseInt($('#extras').width()) + parseInt($('#promos').width() + 43); $('#wrapper').css('width', wrapperWidth);$("body, html").mousewheel(function (event, delta) { this.scrollLeft -= (delta * 55); event.preventDefault(); }); $(".wysiwyg:last").css("padding", "35px");


    })</script>



<% end %>




<div id="content">
    <h1>What makes us different?</h1>

    <div id="whatweDoCol">
        <div class="wysiwyg"><p>Design and Language are the life blood of Second Road. The
deliberate fusion of these two distinct yet complementary systems
acts as catalyst to <strong>liberate creative thinking and cohere
diverse communities</strong>.</p>

<p>We can't avoid complexity. The challenge is how we respond to
it. Second Road relishes the big, wicked problems that live in a
complex landscape. Working with our clients we take a
whole-of-system approach to harness ambiguity. At the core of our
approach is the art and science that reside in design and language.
We use these elements to <strong>carve creative, pragmatic pathways
through complexity.</strong></p>

<p>The elegance of language is its ability to unlock meaning,
create clarity and convey relevance. The genius of design is its
capacity to discover, invent and transform. Together, language and
design <strong>turns complexity into opportunity</strong>.</p></div>
        <div class="wysiwyg"><p><strong>What is the "second road"?</strong></p>

<p>The Western world, from Aristotle onwards, has sought truth and
direction along <strong>two different paths</strong>:</p>

<ul>
<li>a first road represented by the principles of logic, the engine
room of analysis and analytic inquiry</li>

<li>a second road constituted by the principles of rhetoric -
persuasive argument, intent, invention and socialisation.</li>
</ul>

<p>Aristotle's opinion was that the first road is most suitable for
answering questions of science and nature, the second for managing
<strong>human nature and civic affairs</strong>.<br />

<br />
 Both roads are powerful. Both yield insights. Both are
necessary.<br />
<br />
<br />
<br />
<br />
</p></div>
        <div class="wysiwyg"><p>Our business world today, however, is not what it was a century,
or even a decade ago. Interconnectedness, velocity, volatile change
and the critical importance of people make it impossible to simply
'make a plan and stick to it'. <strong>Logic and analysis alone are
not enough</strong> to prepare an organisation for a future in a
shifting, global environment.</p>

<p><strong>Business leaders today need the second road</strong> -
the path of invention and design - to envision compelling yet
flexible strategy, create common purpose and mobilise people into
action. They need new skills derived from the arts of design,
language and storytelling.<br />

<br />
 Second Road is at the forefront of the 'second road' today.</p></div>
    </div>
</div>

  
<div id="extras">
    <div id="ContentPlaceHolderDefault_ExtrasPromotions1_boxQuote" class="boxQuote">
        <p class="quote">"Vision is the act of seeing what is invisible to others."</p>
        <p class="quoteAuthor"><span class="name">JONATHAN SWIFT</span>, <span class="quoteDate"></span></p>

    </div> <!-- /boxQuote -->
    <p class="caption">Language creates, design illuminates</p>
    <div class="portOfPractice">
        <div class="portPeiceOne"><img src='/images/media/990/portpeicetwo.jpg' alt='' width='180' height='180' id='' /></div>
        <div class="portPeiceTwo"><img src='/images/media/420/pcheckersimage.jpg' alt='' width='180' height='180' id='' /></div>
        <div id="ContentPlaceHolderDefault_ExtrasPromotions1_pCheckers" class="pCheckers"><%= link_to "EXPLORE OUR COMMUNITY", "/our-community" %></div>
    </div> <!-- /portOfPractice -->

</div> <!-- /extras -->

  <div id="promos"></div>
</div>
<div id="overlayLeft" style="display: block"><a></a></div><div id="overlayRight" style="display: block"><a></a></div>



