<style type="text/css" media="screen">
	#home_text {
		width: 700px;
		height: 500px;
		background: #F7F6F2;
	}
	#home_text h1 {
		clear: both;
		display: block;
		color: #E4701E;
		float: left;
		font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
		font-size: 46px;
		font-weight: normal;
		letter-spacing: -0.7px;
		margin: 0 40px 20px 40px;
		min-width: 180px;
	}
	#home_text p{
		clear: both;
		color: #3B3B3B;
		font-size: 14px;
		line-height: 18px;
		margin: 0 40px 17px 40px;
	}
	#home_text #domains {
		font-size: 24px;
		font-weight: 800;
		text-align:center;
	}
</style>
<div id = "home_text">
  <h1>We work with clients to: Think, Create, Engage and Transform.</h1>
  <p>Second Road has been pioneering a new way of thinking about strategy and innovation since 2002, advising organisations on how to leverage their creative capacity, find solutions to entrenched, wicked problems and in turn, envision a new future.</p>
  <p>To thrive in a time of unprecedented complexity and change business leaders are recognising they need to adopt a different kind of skill-set, one that resides in the art and science of language and design. The elegance of language is its ability to unlock meaning, create clarity and convey relevance. The genius of design is its capacity to discover, invent and transform ideas into reality. We use these two distinct yet complementary systems as a catalyst to liberate the creative intelligence within an organisation to inspire and transform. With our whole-of-system approach we help clients:</p>
  <p id = "domains">Strategise - Innovate - Engage - Empower - Learn - Lead</p>
</div>