<div id = "home_text">
  <h1>A Strategy + Innovation firm working with clients to unlock intelligence and imagination.</h1>
  <p>We have been pioneering new ways of thinking about strategy and innovation since 1986, helping organizations leverage their creative capacity, find solutions to entrenched problems and envision new futures. In these times of unprecedented complexity and change Second Road brings a unique mindset and capability grounded in the art and science of <strong>language</strong> and <strong>design</strong>.</p>
  <p>The elegance of <em>language</em> is its ability to unlock meaning, create clarity and convey relevance. The genius of <em>design</em> is its capacity to discover, invent and transform ideas into reality. With these two distinct yet complementary systems and skill-sets we help clients:</p>
  <p id = "domains">Strategise - Innovate - Engage - Empower - Learn - Lead</p>
</div>