<div id="content">
  <div class="bloc bloc-row bloc-light bloc-2 bloc-bordered">
    <h1>THINK.</h1>
  </div>

  <div class="bloc">
    <div class="rhombus rhombus-dark"></div>
  </div>
  <div class="bloc bloc-deco-presenter"></div>      
  <br />      
  <div class="bloc bloc-row bloc-light bloc-2 bloc-bordered">
    <h1>ENGAGE.</h1>
  </div>

  <div class="bloc bloc-dark bloc-2 bloc-bordered">
    <h1>CREATE.</h1>
  </div>
  <div class="bloc bloc-deco-pencils"></div>
  <div class="bloc bloc-dark"></div>      
  <br />      
  <div class="bloc bloc-row"></div>
  <div class="bloc bloc-dark">
    <p>Second Road is a <strong>Strategy &amp; Innovation</strong> firm that helps clients thrive in times of unprecedented complexity and change.</p> 
  </div>

  <div class="bloc bloc-dark bloc-2 bloc-bordered">
    <h1>TRANSFORM.</h1>
  </div>
  <div class="bloc bloc-diag-orange">
    <div class="rhombus rhombus-orange">
	  <p class = "rhomb">We integrate the arts of <em>language and design</em> to teach leaders how to grapple with ambiguity, tackle big wicked problems, and unlock creative thinking.</p>
	</div>
  </div>
  <div class="bloc">
  	<p class = "plain_bk"><%= link_to "Welcome...", what_we_do_path %></p> 
  </div>

</div>


