<div id="content">
  <div class="bloc bloc-row bloc-light bloc-2 bloc-bordered">
    <h1>Designing<br />Futures</h1>
  </div>

  <div class="bloc">
    <div class="rhombus rhombus-dark"></div>
  </div>
  <div class="bloc bloc-deco-presenter"></div>      
  <br />      
  <div class="bloc bloc-row bloc-light bloc-2">
    <p class="imgtxt imgtxt-intro">Second Road is a strategy &amp; innovation firm with a big difference.</p>
  </div>

  <div class="bloc">
    <p class="imgtxt imgtxt-human">We are unashamedly working to enable organisations not only to be smarter—but more human.</p>
  </div>
  <div class="bloc bloc-diag-white"></div>
  <div class="bloc bloc-deco-pencils"></div>
  <div class="bloc bloc-dark"></div>      
  <br />      
  <div class="bloc bloc-row"></div>
  <div class="bloc bloc-dark"></div>

  <div class="bloc bloc-light bloc-2">
    <p class="imgtxt imgtxt-imagination">Everything we do is about unlocking and empowering imagination and intelligence within organisations.</p>
  </div>
  <div class="bloc bloc-diag-orange">
    <div class="rhombus rhombus-orange"></div>
  </div>
</div>


