
  <div id="content">
    <h1>Privacy</h1>
    <div class="wysiwyg">   
        <p class="introPara">We will not share your details</p>

        <p>.v</p>
    </div>
    
</div>
  <div id="extras"></div>
  <div id="promos">
    <div id="ContentPlaceHolderDefault_ExtrasPromotions2_pImageQuote" class="pImageQuote">
	    <%= image_tag 'media/16163/placeholder360x360.png', :alt => "", :size => "360x360", :id => "" %>
        <p class="quote">"test image"</p>
        <p class="quoteBy"><span class="name">TEST IMAGE</span>, <span class="date"></span></p>
    </div>
    
    
</div>
