<div id = 'content'>
<div class="one_col">
    <div class="box_element"> <img alt="" src="/whatwedocustom/images/spacer.gif" /></div>  
</div>

<!-- STRATEGIZE -->

<div class="one_col">
    <div class="large_image360"> <img alt="Home_2" src="/whatwedocustom/images/home_1.jpg" /></div>  
  <div class="openIt">

    <div class="domainServices" id ="firstDomain">
          <a>
        <h3>STRATEGIZE</h3>
          <p>Define direction in an age of uncertainty.</p>

        </a>
    </div>
  </div>
</div>
<div class="home_sliding_box" id="domainStrategize">
  <div class="home_text" >
    <div class="closeIt">CLOSE</div>  
    <h1>Strategize</h1>
    <div class="col450">

      <p>A successful strategy is a robust blend of imagination and coherent intent - a dynamic fit of meaning and context. We work with clients to ignite their inherent creativity and to design their future success by:</p> 
    <ul>
      <li>revitalizing and harnessing imagination</li>
      <li>redefining the industry landscape</li>
      <li>recalibrating enterprise systems</li>
      <li>re-energizing revenue models</li>

      <li>reinvigorating legacy products and services.</li>

    </ul>
    </div>
    <div class="col450">  
      <p>We have used the power of story, conversation and design to help leaders:  </p>
      <ul>
        <li>Rethink their industries and build new pathways into the future</li>

        <li>Change deeply bureaucratic systems to become more relevant to customers</li>
        <li>Create compelling value propositions that translate into competitive advantage.</li>

      </ul>
    </div>
  </div>
  <div class="case_study_display">

    <div class="large_image180"><img alt="Strategize_top" height="180" src="/whatwedocustom/images/strategize_top.jpg" width="540" /></div>

    <div class="caseStudyLink darkSquare" id="strategize1"><p><a href="/client-stories/strategize1/">How do you re-think an industry?</a></p></div>
    <div class="caseStudyLink lightSquare"><p><a href="/client-stories/strategize2/">How do you shift a deeply bureaucratic enterprise?</a></p></div>

    <div class="caseStudyLink darkSquare" id="strategize3"><p><a href="/client-stories/strategize3/">How do you transform opportunities into new value?</a></p></div>
    <div class="large_image180"><img alt="Strategize_bottom" height="180" src="/whatwedocustom/images/strategize_bottom.jpg" width="540" /></div>
  </div>
</div>

<!-- INNOVATE -->

<div class="one_col">
    <div class="large_image360"> <img alt="Home_3" src="/whatwedocustom/images/home_2.jpg" /></div>  
    <div class="openIt">
    <div class="domainServices">

        <a>
      <h3>INNOVATE</h3>
        <p>Discover a new way to invent groundbreaking solutions.</p>
      </a>    
    </div>

    </div>                      
</div>
<div class="home_sliding_box" id="domainInnovate">
  <div class="home_text" >

    <div class="closeIt">CLOSE</div>  
    <h1>Innovate</h1>
    <div class="col450">
     <p>Brilliant ideas that deliver a competitive edge come from a mindset and process of design. Second Road works with clients to:</p> 
    <ul>  
      <li>create exceptional experiences for customers and employees</li>

      <li>discover new, unmet customer needs</li>
      <li>embed a creative disposition into the firm's culture.</li>

    </ul>
    </div>
    <div class="col450">  
      <p>We have used the power of imagination, design and innovation to help leaders:  </p>
      <ul>

        <li>Build a culture of creativity</li> 
        <li>Bring the user experience to life</li>
        <li>Capture and create new customer value.</li>

      </ul>
    </div>
  </div>
  <div class="case_study_display">

    <div class="caseStudyLink darkSquare" id="innovate1"><p><a href="/client-stories/innovate1/">How do you sponsor a culture of creativity?</a></p></div>
    <div class="large_image180"><img alt="Innovate_top_right" height="180" src="/whatwedocustom/images/innovate_top_right.jpg" width="360" /></div>

    <div class="box_element"><img alt="Innovate_middle_left" height="180" src="/whatwedocustom/images/innovate_middle_left.jpg" width="180" /></div>  
    <div class="caseStudyLink lightSquare"><p><a href="/client-stories/innovate2/">How do you shift from good service to great experience?</a></p></div>

    <div class="box_element"><img alt="Innovate_middle_right" height="180" src="/whatwedocustom/images/innovate_middle_right.jpg" width="180" /></div>
    <div class="large_image180"><img alt="Innovate_bottom_left" height="180" src="/whatwedocustom/images/innovate_bottom_left.jpg" width="360" /></div>
    <div class="caseStudyLink darkSquare" id="innovate3"><p><a href="/client-stories/innovate3/">How do you design a customer experience strategy?</a></p></div>

  </div>
</div>

<!-- ENGAGE -->
<div class="one_col">
    <div class="large_image360"> <img alt="Home_4" src="/whatwedocustom/images/home_3.jpg" /></div>  
    <div class="openIt">

    <div class="domainServices">
        <a>
      <h3>ENGAGE</h3>

        <p>Inspire communities toward action.</p>
      </a>    
    </div>
    </div>
</div>
<div class="home_sliding_box" id="domainEngage">

    <div class="home_text">
        <div class="closeIt">CLOSE</div>
        <h1>Engage</h1>

        <div class="col450">
           <p>Let's be honest, few people like change. Even the most well-intentioned organizational improvement campaign stalls when inertia sets in. But when leaders learn to truly engage employees in building a shared future, everyone helps to drive change.</p> 
        </div>
       	<div class="col450">  
		  <p>We have used the power of story, inquiry and conversation to help leaders:</p>

		  <ul>
		    <li>Make a corporate change mandate relevant, meaningful and significant for all employees</li>
		    <li>Co-design a shared vision to help coalesce the community after a merger</li>

		    <li>Cultivate a culture of change in a CEO's first 100 days.</li>
		  </ul>
		</div>
    </div>

    <div class="case_study_display">

        <div class="caseStudyLink darkSquare"><p><a href="/client-stories/engage1/">How do you create change that employees will embrace?</a></p></div>
        <div class="caseStudyLink lightSquare"><p><a href="/client-stories/engage2/">How do you create, share and cohere around a new vision?</a></p></div>

        <div class="caseStudyLink darkSquare" id="engage3"><p><a href="/client-stories/engage3/">How does a new leader create a culture of change in the first 100 days?</a></p></div>
        <div class="large_image360"><img alt="Engage_bottom" height="360" src="/whatwedocustom/images/engage_bottom.jpg" width="540" /></div>
    </div>
</div>

<!-- EMPOWER -->
<div class="one_col">
    <div class="large_image360"> <img alt="Home_5" src="/whatwedocustom/images/home_4.jpg" /></div>  
    <div class="openIt">

    <div class="domainServices">

        <a>
      <h3>EMPOWER</h3>
        <p>Harness the full thinking power of an organization.</p>

      </a>
    </div>
    </div>
</div>
<div class="home_sliding_box" id="domainEmpower">

    <div class="home_text" >
        <div class="closeIt">CLOSE</div>
            <h1>Empower</h1>

            <div class="col450">
              <p>	Any organization must be well designed to unlock the full range of people's ability  to contribute.	This means:</p> 
              <ul>  
                  <li>articulating and promoting the intent behind bureaucratic processes</li>

                  <li>bringing clarity and elegance to systems of information</li>
                  <li>transforming command-and-control structures into systems that authorize local decision and action</li>
                  <li>infusing planning and reporting with both rigor and simplicity.</li>

              </ul>
            </div>
            <div class="col450">  
              <p>We have used the power of design and conversation to help leaders:  </p>

              <ul>
                  <li>Revolutionize reporting to bring focus to essential questions and answers</li>
                  <li>Free project teams from a hobbling mindset of compliance to deliver above and beyond mere specifications</li>
                  <li>Build organisational systems that set staff free to contribute in innovative ways.</li>

              </ul>
            </div>  

        </div>

        <div class="case_study_display">

            <div class="large_image180"><img alt="Clarify_top" height="180" src="/whatwedocustom/images/clarify_top.jpg" width="540" /></div>
            <div class="caseStudyLink darkSquare" id="clarify1"><p><a href="/client-stories/empower1/">How do you give local discretion without losing control?</a></p></div>
            <div class="caseStudyLink lightSquare"><p><a href="/client-stories/empower2/">How do you report the essentials without losing critical details?</a></p></div>
            <div class="caseStudyLink darkSquare" id="clarify3"><p><a href="/client-stories/empower3/">How do you move a group beyond a mindset of compliance?</a></p></div>

            <div class="large_image180"><img alt="Clarify_bottom" height="180" src="/whatwedocustom/images/clarify_bottom.jpg" width="540" /></div>

        </div>
    </div>

<!-- LEARN -->
<div class="one_col">
        <div class="large_image360"> <img alt="Home_6" src="/whatwedocustom/images/home_5.jpg" /></div>  
        <div class="openIt">
          <div class="domainServices">

            <a>
            <h3>LEARN</h3>

              <p>Build an inquiring mindset.</p>

          </a>    
          </div>
        </div>
    </div>
<div class="home_sliding_box" id="domainLearn">

        <div class="home_text">
        <div class="closeIt">CLOSE</div>

            <h1>Learn - building an inquiring mindset</h1>

            <div class="col450">
                <p>Designing the future requires a willingness to learn and an instinct for sense-making and storytelling. Your people need skills to face the future with creativity and a spirit of enterprise. We work with clients to build those capabilities. Our courses help individuals and systems:</p> 
                <ul>
                    <li>awaken imagination</li>

                    <li>master complexity</li>

                    <li>instil an innovative mindset</li>
                    <li>influence and guide the thinking of others.</li>

                </ul>
                <p>We teach people from front-line positions to board level executives. We make sure that you have time to absorb, reflect and discuss how each element can be applied to your professional context.</p> 
            </div>
            <div class="col450">  
                <p>We have used the power of reflective learning and learning-by-doing to help leaders:</p>

                <ul>
                    <li>Build rigorous thinking into critical business systems</li>
                    <li>Encourage thinking for innovation throughout the organization</li>

                    <li>Equip key people with new skills in leading group thinking processes.</li>
                </ul>
            </div>

        </div>
        <div class="case_study_display">
            <div class="box_element"><img alt="Learn_top_left" height="180" src="/whatwedocustom/images/learn_top_left.jpg" width="180" /></div>
            <div class="caseStudyLink lightSquare"><p><a href="/client-stories/learn1/">Workshops to foster design thinking.</a></p></div>
            <div class="box_element"><img alt="Learn_top_right" height="180" src="/whatwedocustom/images/learn_top_right.jpg" width="180" /></div>

            <div class="caseStudyLink darkSquare"><p><a href="/client-stories/learn2/"> Bite-sized sessions to build serious thinking skills. </a></p></div>

            <div class="box_element"><img alt="Learn_middle" height="180" src="/whatwedocustom/images/learn_middle.jpg" width="180" /></div>
            <div class="caseStudyLink darkSquare"><p><a href="/client-stories/learn3/">Courses to create leaders in group thinking processes.</a></p></div>
            <div class="large_image180"><img alt="Learn_bottom" height="180" src="/whatwedocustom/images/learn_bottom.jpg" width="540" /></div>
        </div>
    </div>

<!-- LEAD -->
<div class="one_col">
    <div class="large_image360"> <img alt="Home_1" src="/whatwedocustom/images/home_6.jpg" /></div>

    <div class="openIt">
    <div class="domainServices">
        <a>
      <h3>LEAD</h3>
        <p>Influence wisely.</p>

      </a>    
    </div>

    </div>                      

</div>
<div class="home_sliding_box" id="domainLead">
  <div class="home_text">
    <div class="closeIt">CLOSE</div>
    <h1>Lead</h1>
    <div class="col450">

      <p>Leaders face complexity and the unknown. They take on the responsibility of equipping individuals and organisations with the will to make things different and to realize potential. Designing genuinely better futures requires depth - the mindset and skill to lead with wisdom:</p> 
    <ul>

    <li>understanding how language shapes reality</li>
    <li>revitalizing and sustaining core conversations</li>
    <li>framing compelling arguments for change</li>
    <li>inspiring confidence and courage to co-design.</li>
    </ul>

    </div>

  <div class="col450">  
    <p>We have used the power of language, conversation and presence to help leaders:  </p>
    <ul>
      <li>Lead from their own strengths</li>
      <li>Draw out the brilliance in their teams</li>
      <li>Frame compelling arguments</li>
      <li>Face complexity and chaos</li>

      <li>Engage their people in co-design.</li>
    </ul>
    </div>  

  </div>
  <div class="case_study_display">
    <div class="large_image180"><img alt="Lead_top" height="180" src="/whatwedocustom/images/lead_top.jpg" width="540" /></div>
    <div class="caseStudyLink darkSquare"><p><a href="/client-stories/lead1/">How do you sustain a strong intent for change?</a></p></div>
    <div class="caseStudyLink lightSquare"><p><a href="/client-stories/lead2/">How do you write a new chapter for an organization?</a></p></div>

    <div class="caseStudyLink darkSquare"><p><a href="/client-stories/lead3/">How do you kindle the brilliance in a team?</a></p></div>
    <div class="large_image180"><img alt="Lead_bottom" height="180" src="/whatwedocustom/images/lead_bottom.jpg" width="540" /></div>
  </div>
</div>
</div>

<%= content_for :footer do %>
<script type="text/javascript">$(function () {
	var wrapperWidth = parseInt($('#content').width()) + 1000;$('#wrapper').css('width', wrapperWidth);$("body, html").mousewheel(function (event, delta) {this.scrollLeft -= (delta * 55);event.preventDefault();});});</script>

<% end %>
